html {
    scroll-behavior: smooth;
}

body {
    color: #090909;
}

a {
    color: #161616;
}

.visuallyhidden {
    display: none;
}

.card-category {
    color: #D73953;
}

.section-tagline {
    color: #D73953;
}