html {
    scroll-behavior: smooth;
}

body {
    color: #090909;
}

a {
    color: #090909;
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--color-primary);
}

.section-tagline {
    color: var(--color-primary);
}